{% extends 'base.html' %}


{% block page_title %}
Shopping cart
{% endblock %}


{% block content %}

<table class="table">
    <tr>
        <th>Part number</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>

    {% for product in products %}
    <tr>
        <td>{{ product.part_number }}</td>
        <td>{{ product.product_name_EE }}</td>
        <td>{{ product.price }} €</td>
        <td>{{ product.quantity }}</td>
    </tr>
    {% endfor %}
</table>



{% endblock %}