{% extends 'base.html' %}


{% block page_title %}
Shopping cart
{% endblock %}


{% block content %}

<table class="table">
    <tr>
        <th>Part number</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Remove item</th>
    </tr>

    {% for cartitem in cartitems %}
    <tr>
        <td>{{ cartitem.product.part_number }}</td>
        <td>{{ cartitem.product.product_name_EE }}</td>
        <td>{{ cartitem.product.price }} €</td>
        <td>{{ cartitem.quantity}}</td>
        <td>.....</td>
    </tr>
    {% endfor %}
</table>

{{total}}

{% endblock %}