{% extends 'base.html' %}


{% block page_title %}
Product page
{% endblock %}


{% block content %}

<p> Part Number: {{product.part_number}} </p>
<p> Name_EE: {{product.product_name_EE}}  </p>
<p> Price: {{product.price}} € </p>
<p> Info: {{product.product_info}} </p>
<p> Weight: {{product.weight}} </p>
<p><a href="{% url 'cart' product.id %}">ADD</a></p>

<hr>
<a href="{% url 'update' product.id %}">UPDATE</a>

{% if perms.products.delete_product %}
<a href="{% url 'delete' product.id %}">DELETE</a>
{% endif %}


{% endblock %}