{% extends 'base.html' %}


{% block page_title %}
List page
{% endblock %}



{% block content %}

<table class="table">
    <tr>
        <th>Part number</th>
        <th>Name</th>
        <th>Price</th>
        <th>In stock</th>
    </tr>

    {% for product in products %}
    <tr>
        <td><a href="{% url 'detail' product.id %}">{{product.part_number}}</a></td>
        <td>{{ product.product_name_EE }}</td>
        <td>{{ product.price | default_if_none:"--"}} €</td>
        <td>{{ product.quantity }}</td>
    </tr>
    {% endfor %}
</table>

<hr>

<a href="{% url 'create'%}"> Add a new product</a>

{% endblock %}
    